body{
    background-color: aquamarine;
}

._container{
    max-width: 1200px;
    margin: 0px auto;
    box-sizing: content-box;
    padding: 0 15px;
  }

/*----------------------header--------------------------------*/
.header{
    margin-bottom: 15px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
}
.header__list{
    display: flex;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
}
.menu__link{
    margin-right: 5px;
}

/*---------------------cards---------------------------------*/
.main__container{
    display: flex;
}
.list-main__items{
    margin-right: 15px;
}

.cards__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

.card__column{
    flex: 0 1 25%;
    padding: 0 15px 15px;
}

.card__column:hover{
    background-color: bisque;
}
.card__item:hover{
    background-color: bisque;
}